* {
    margin: 0;
}

a {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
}

body {
    background-color: #000;
}

@keyframes changeSide {
    0% {
        transform: scaleX(1);
        /* Escala normal */
    }

    50% {
        transform: scaleX(-1);
        /* Voltear horizontalmente */
    }

    100% {
        transform: scaleX(1);
        /* Volver a la escala normal */
    }
}

.changing-image {
    animation: changeSide 15s linear infinite;
    width: 20%;
    align-items: center;
    padding-top: 15%;


    /* Duración de la animación: 5 segundos */
}
.imagen{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    padding-top: 5%;
    
}

.primera_parte{
    display: flex;
    justify-content: space-around;
}

.parte_2{
    width: 90%;
    padding-top: 20%;
    padding-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parte_3{
    width: 90%;
    padding-top: 20%;
    padding-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link_google_maps{
    padding-top: 2%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 500%;
    display: flex;
    flex-direction: column;
}
.link_google_maps:hover{
    text-decoration: none; 
    transition: color  0.3s, font-size 0.3s; 
    font-size: 600%;  
    
}
.link_google_forms{
    padding-top: 2%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 150%;
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    margin-right: 13%;
    position: absolute;
    top: 135%;
    left: 82%;
}
.link_google_forms:hover{
    text-decoration: none; 
    transition: color  0.3s, font-size 0.3s; 
    font-size: 200%;  
    
}


.parte_4{
    width: 40%;
    padding-top: 15%;
    padding-left: 30%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
